/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ---meyerweb cssReset end---- */
/* 盒模型免除計算padding border */
*,
*:before,
*:after {
    box-sizing: border-box;
}
/* 圖片下方多餘地方消除 rwd圖片 */
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
/* 字體通用設定 */
body {
    font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', Roboto,
        'Helvetica Neue', Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}
.container {
    max-width: 1296px;
    margin: 50px auto;
}
.products {
    justify-content: space-between;
}
.product-item {
    width: 31%;
    margin-right: 24px;
    margin-bottom: 24px;
    border: 1px solid #f2f2f2;
    border-radius: 16px;
    flex-direction: column;
    overflow: hidden;
    /* 避免圖片縮放超出空間 */
}
.product-pic {
    overflow: hidden;
}
.product-item img {
    border-radius: 16px 16px 0 0;
    transition: transform 0.3s ease;
}
.product-item img:hover {
    cursor: pointer;
    transform: scale(1.2);
    /* 將圖片放大1.2倍 */
}
.product-content,
.product-name,
.product-skill {
    padding: 20px 32px;
}
.product-content {
    flex-grow: 1;
}
.product-content h6 {
    font-size: 20px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 12px;
}
.product-content p {
    font-size: 14px;
    color: #525252;
}
.product-name,
.product-skill {
    justify-content: space-between;
    align-items: center;
}
.product-skill a {
    color: #020202;
}
/* utilities */
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.border-bottom {
    border-bottom: 1px solid #f2f2f2;
}
.fw-700 {
    font-weight: 700;
}
